body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

header {
    background-color: #d35649;
    padding: 1% 0% 1% 0%;
}

#search {
    background-image: url("../Assets/Images/group-1.jpg");
    background-size: cover;
    padding-top: 5%;
    height: 50%;
}

.btn-search {
    background-color: #d35649;
    border-radius: 4px;
}

.formulaire-recherche {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 0% 25% 0% 25%;
    padding: 1.5% 1.5% 1.5% 1.5%;
}

.btn-work {
    background-color: white;
}


/*
FOOTER CSS
*/

.contact {
    background-color: black;
    padding-top: 1%;
}

.btn-send-footer {
    background-color: #444;
}

.form-footer {
    margin-left: 19%;
}

.copyright {
    background-color: #444;
    padding-top: 0.5%;
}

footer {
    background-color: black;
    overflow: hidden;
    margin: 0%;
}

.icon-social-with-border {
    padding-top: 5%;
}

div>.icon-social-1 {
    border-top: solid white;
    border-bottom: solid white;
    border-bottom-width: thin;
    border-top-width: thin;
    padding: 1% 1.5% 0% 1.5%;
    height: 1%;
}

div>.icon-social-2 {
    border-top: solid white;
    border-bottom: solid white;
    border-bottom-width: thin;
    border-top-width: thin;
    padding: 1% 1.5% 0% 1.5%;
    height: 1%;
}

.icon-localisation {
    border: solid white;
    border-width: thin;
    margin-top: -2%;
    margin-bottom: -2%;
    padding-top: 2.4%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 50%;
}

.icon-localisation>i {
    font-size: 36px;
    color: white;
    padding: 5%;
}

.icon-social>.fa {
    color: #98a5a5;
}

.icon-social>i {
    padding-left: 4%;
}